# 注：余計な行や空白は入れないこと！（特に=の前後）

# Discord Developer Portal の Bot タブで発行したトークン
DISCORD_BOT_TOKEN=

# 投稿先チャンネルの ID（開発者モードをONにして右クリック→IDをコピー）
DISCORD_CHANNEL_ID=

# atcoder.jp のブラウザから取得した REVEL_SESSION クッキーの値
ATCODER_SESSION=

# この Bot の管理人の Discord の ID
OWNER_DISCORD_ID=